@import 'https://fonts.googleapis.com/css?family=VT323';

$light-grey: #e0e2f4;
$grey: #aaaaaa;
$blue: #0414a7;

$base-font-size: 20px;
$font-stack: 'VT323', monospace;

body,
h1,
h2,
h3,
h4,
p,
a { color: $light-grey; }

body,
p { font: normal #{$base-font-size}/1.25rem $font-stack; }
h1 { font: normal 2.75rem/1.05em $font-stack; }
h2 { font: normal 2.25rem/1.25em $font-stack; }
h3 { font: lighter 1.5rem/1.25em $font-stack; }
h4 { font: lighter 1.125rem/1.2222222em $font-stack; }
input { font: lighter 2.75rem/1.05em $font-stack; }

body { background: $blue; }

.container {
  width: 90%;
  margin: auto;
  max-width: 640px;
}
.home-container {
  margin: auto;
  text-align: center;
}

.nav {
  margin-top: 35px;
  
  .links{
    display: flex;
    gap: 1rem;
    li{
      list-style: none;
    }
  }

}

.link{
  text-decoration: none;

  &:hover {
    background: $grey;
    color: $blue;
  }

}


button { 
  font: lighter 2.75rem/1.05em $font-stack; 
  color: $light-grey;
  background: $blue;
  border: 2px solid $light-grey;
  border-radius: 4px;
  outline: none;

  &:hover {
    background: $grey;
    color: $blue;
    border-color: $grey;
  }

}

.new-url-input{
  width: 100%;
  max-width: 800px;
  padding: 0.75rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  background-color: #0414a7;
  color: white;
  border: none;
  border-radius: 4px;
  outline: none
}

.bsod {
  padding-top: 10%;

  .neg {
    text-align: center;
    color: $blue;
    
    .bg {
      background: $grey;
      padding: 0 15px 2px 13px;
    }
  }
  .title { margin-bottom: 50px; }
  
}

